<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.shoptemplatetest.mapper.ProductMapper">

    <select id="getAllProducts" resultType="edu.sm.shoptemplatetest.dto.Product"> SELECT
                                                                                      id,
                                                                                      name,
                                                                                      price,
                                                                                      imageUrl,
                                                                                      brand,
                                                                                      onSale,
                                                                                      originalPrice,
                                                                                      reviewStars
                                                                                  FROM
                                                                                      products
    </select>

</mapper>